/* CSS styles Folder*/
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 40px 0;
    color: #ffffff; 
    text-align: left;
    background: linear-gradient(#003f88, #015bb0);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #e7e2e2;
}

/* Creating a container class that holds the content and has some visual effects in it like the box-shadow.*/
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f4ecec;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Creating a column class that creates 2 columns in the layout with the specific width and gap.*/
.column {
    float: left;
    height: max-content;
    width: 48.5%;
    padding: 10px;     
    align-self: center;
    gap: 10%;
    column-count: 1;
}

/*This code creates a CSS class .clearfix that, when applied to an element, generates an empty content box after that element. 
So, what the "clear: both;" property does is ensure that this invisible box we created clears both the left and right floated elements.*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    background-color: #00509d; 
    color: white; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

img {
    float: left;
    width: 150px;
    height: 170px;
    border-radius: 5px;
    border-style: solid;
    border-color:  #fdc500 ;
    margin: 4px;

}

a {
    color:white;
}

/* Creating a navigation bar with yellow background color.*/
.topnav {
    overflow: auto;
    background-color:  #e8b707;
}

/* Using float = left, we are aligning the text in the navigation bar to the left of the bar horizontally next to each other.*/
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

/* Setting the background color to white and text color to black when the mouse pointer hovers on an element in the navigation bar.*/
.topnav a:hover {
    background-color: #ffffff;
    color: black;
}

/* Setting the background color to blue and text color to white to the elemnent selected in the navigation bar.*/
.topnav a.active {
    background-color: #015bb0;
    color: white;
}
